<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
        
    </head>
    <body>
        <nav>
            <div  class="nav-left">
                <h2 class="logo">friendlyChat</h2>
                <ul>
                    <li><img src="/static/images\notification.png" class="bell"></li>
                    <li><img src="/static/images\email.png" class="email"></li>
                    <li><img src="/static/images\play.png" class="video"></li>
                </ul>
            </div>
            <div  class="nav-right">
                <div class="search-box">
                    <img src="/static/images/sear.png">
                    <input type="text" placeholder="search">
                </div>
                <div class="nav-user-icon online">
                    <img src="/static/images/profile.png">
                </div>
            </div>
        </nav>
        <div class="container">
            <!------------------left sidebar---------------->
            <div class="left-sidebar">
                <div class="imp-link">
                    <a href="#"><img src="/static/images/news.png">Latest news</a>
                    <a href="#"><img src="/static/images/friend.png">Friend</a>
                    <a href="#"><img src="/static/images/group.png">Group</a>
                    <a href="#"><img src="/static/images/movi.png">Watch</a>
                    <a href="#">More</a>
                </div>
                <div class="shortcut-links">
                    

                </div>

            </div>
            <!------------------main sidebar---------------->
            <div class="main-content">
                <div class="story-gallery">
                    <div class="story">
                        <img src="/static/images/mystory.png" class="pic">
                        <p>Post Story</p>
                    </div>
                </div>
                <div class="write-post-container">
                    <div class="user-profile">
                        <img src="/static/images/person2.jpg">
                        <div>
                            <p>Shyam</p>
                            <small>Public  <i><img src="/static/images/drop.png" class="dropdown"></i></small>
                        </div>
                    </div>

                    <div class="post-input-container">
                        <textarea  row="3 " placeholder="what's on your mind ,Shyam ?"></textarea>
                        <div class="add-post-link">
                            <a href="#"><img src="/static/images/live.png">Live video</a>
                            <a href="#"><img src="/static/images/photo1.png">Photo/video</a>
                            <a href="#"><img src="/static/images/acti.png">Activity</a>
                        </div>
                    </div>

                </div>


                <div  class="post-container">
                    <div class="user-profile">
                        <img src="/static/images/person2.jpg">
                        <div>
                            <p>Shyam_adorable</p>
                            <span>july 12 2024,13:40pm</span>
                           
                        </div>
                    </div>
                    <p class="posttext">Subscribe <span>@programmingworld52 </span>youtube channel 
                    to lern more about languge<a href="#">programmingworld52</a></p>
                    <img src="/static/images/post2.jpg" class="post-img">
                    <div class="post-row">
                        <div class="activity-icon">
                            <div><img src="/static/images/like.png">120</div>
                            <div><img src="/static/images/comment.png">34</div>
                            <div><img src="/static/images/share.png">545</div>
                        </div>
                       
                    </div>

                   

                        

                </div>
               





            </div>



            <!------------------right sidebar---------------->
            <div class="right-sidebar">
                <div class="sidebar-title">
                    <h4>Events</h4>
                    <a href="#">See all</a>
                </div>

                <div class="event">
                    <div class="left-event">
                        <h3>20</h3>
                        <span>june</span>

                    </div>
                    <div class="right-event">
                        <h4>Music consert</h4>
                        <p>The music consert orgnize at knowledgepark on KBD mall</p>
                        <a href="#">More info</a>     

                    </div>
                </div>
                <div class="event">
                    <div class="left-event">
                        <h3>22</h3>
                        <span>June</span>
                    </div>

                    <div class="right-event">
                        <h4>Social media</h4>
                        <p>Central government state that social media has  uderservilace by tech department </p>
                        <a href="#">More info</a>
                         

                    </div>

                </div>
                <div class="sidebar-title">
                    <h4>People</h4>
                    <a href="#">hide chat</a>
                </div>

                <div class="online-list">
                    <div ="online">
                        <img src="/static/images/profile1.jpg">  
                    </div>
                    <p>Radha</p>
                </div>
<!----second person------>
                <div class="online-list">
                    <div ="online">
                        <img src="/static/images/profile2.jpg">  
                    </div>
                    <p>Krishana</p>
                </div>
                <!----second person------>
                <div class="online-list">
                    <div ="online">
                        <img src="/static/images/profile3.jpg">  
                    </div>
                    <p>Sita</p>
                </div>


                
                </div>






            </div>

        </div>

           
      <script>alert("Welcome to friendlyChat")


      </script>  
        
        
    </body>
</html>